
const path = require('path');

module.exports = {
    docker: {
        // this parameter also limits how many docker containers can be created simultaneously
        ports: [3001, 3002, 3003],
        image: 'browserless/chrome:release-puppeteer-1.5.0'
    },
    basicAuth: {
        name: 'admin',
        password: 'password'
    },
    timeout: 15000,
    connectTimeout: 5000, // must be smaller than timeout
    port: 8811,
    tmp: path.resolve(__dirname, 'tmp'), // will be used in pdf generator (probably)
    defaults: {
        launch: {

        },
        pdf: {// https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagepdfoptions
            displayHeaderFooter: true,
            format: 'A4',
            margin: {
                // top: '100px',
                // right: '20px',
                // bottom: '100px',
                // left: '20px'
                top: '0',
                right: '0',
                bottom: '0',
                left: '0'
            },
            scale: 0.7,
        },
    },
}